/* responsive grid */
*, *:before, *:after {
  box-sizing: border-box;
}

.row:after {
    clear: both;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.col-2 {
  padding: 0;
  float: left;
  position: relative;
  margin: 0;
  width: 50%;
  min-height: 1px;
}

.item-inner div:first-child {
  float: left;
  width: 300px;
  margin-right: 10px;
}
.item-inner div:last-child {
  width: 360px;
  margin-left: 10px;
}

#detail .col-2:first-child {
  width: 40%;
}
#detail .col-2:last-child {
  width: 60%;
}

@media only screen and (max-width:800px) {
  .col-2 {
    float: none;
    position: inherit;
    width: auto;
    height: auto;
  }
}

/* carousel */
.carousel {
  padding: 0;
  /*margin: 0 0 50px;*/
  background: none;
  /*border-top: 1px solid #d7d7d7;*/
  /*border-bottom: 1px solid #d7d7d7;*/
  /*z-index: 1;*/
  /*height: 400px;*/
  margin: auto;
  overflow: hidden;
  display: none;
}


.carousel-wrapper {
  /*box-shadow:  inset 0 -1px 5px rgba(0,0,0,.2), inset 0 1px 5px rgba(0,0,0,.2);*/
  /*position: relative;*/
  /*background-color: rgb(255,255,255);*/
  /*z-index: 1;*/
  /*padding-top: 50px;*/
  /*height: 400px;*/
}


.carousel .item {
  background-color: rgb(255,255,255);
  /*height: 280px;*/
  margin: 0 20px 20px;
  padding: 20px;
  width: 700px;
}

.carousel .item h2 > img {
  max-width: 220px;
}

.carousel-image {
  overflow: hidden;
  height: 240px;
}

.cycle-prev {
  left: 0;
}
.cycle-next {
  right: 0;
}
.cycle-prev, .cycle-next {
  position: absolute;
  top: 0;
  font-size: 50px;
  width: 5%;
  text-align: center;
  padding: auto;
  color: #CAE1F4;
  z-index: 1000;
  cursor: pointer;
  margin-left: 620px;
}
.cycle-prev:hover,
.cycle-next:hover {
  color: #0095DD;
}
.cycle-prev .circle,
.cycle-next .circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  min-width: 50px;
  top: 120px;
  position: relative;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}

.cycle-pager { 
  text-align: center;
  padding: 0;
  overflow: hidden;
}
.cycle-pager span {
  margin: 2px;
  font-family: arial;
  font-size: 4em;
  line-height: .75;
  color: #ddd;
  cursor: pointer; 
}
.cycle-pager span.cycle-pager-active {
  color: #CAE1F4;
}
.cycle-pager span:hover {
  color: #0095DD;
}
.cycle-pager > * { cursor: pointer;}

@media only screen and (min-width:1024px) {
  .carousel {
    width: 1024px;
    display: block;
  }
  .carousel-wrapper {
    margin-left: -600px;
  }
  .cycle-prev, .cycle-next {
    margin-left: 600px;
  }
}


@media only screen and (min-width:1280px) {
  .carousel {
    width: 1280px;
    display: block;
  }
  .carousel-wrapper {
    margin-left: -500px;
  }
  .cycle-prev, .cycle-next {
    margin-left: 500px;
  }
}

/* directory */

@media only screen and (max-width:800px) {
  #directory {
    margin: 10px;
  }
}

#directory .provider-name {
  font-size: 2.5em;
  margin-left: 10px;
}

.directory-header {
  padding: 0 10px;
  text-align: center;
}

.directory-header h3 {
  font-size: 24pt;
  line-height: 28pt;
  letter-spacing: normal;
}

.directory-header .lead {
  font-size: 16pt;
  line-height: 22pt;
}

.tagline {
  margin: 20px 0;
  /*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);*/
  font-weight: bold;
  font-size: 16pt;
  line-height: 18pt;
}

.description {
  font-size: 14pt;
  line-height: 18pt;
}

.provider-description {
  padding-top: 10px;
  font-size: 1.2em;
  padding-bottom: 10px;
  margin: 0;
}

.moreinfo {
  margin: 4px;
}

.bold-italic {
  font-style: italic;
  font-weight: bold;
}

.item-inner {
  /*width: 700px;*/
  white-space: normal;
}
.item-inner > .activation {
  position: absolute;
  bottom: 30px;
  z-index: 100;
}

.item-detail > div {
  padding: 5px;
}

#detail {
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #fff;
  margin: 0 25px;
}

.detail-content {
  margin: 0 auto;
  padding: 40px;
}

.provider-item-detail {
  margin-bottom: 40px;
}
.provider-item-detail > :first-child {
  margin-top: 0;
}

.provider-primary-image {
  float: right;
  max-width: 460px;
}


#detail h1 {
  font-size: 28pt;
  line-height: 28pt;
  width: 320px;
}

#detail h1 > img {
  max-height: 60px;
  max-width: 220px;
  vertical-align: middle;
}

#detail h2 {
  font-size: 2em;
  font-weight: bold;
}
#detail .lead {
  font-size: 14pt;
  font-weight: normal;
  line-height: 20pt;
}

.detail-header {
  padding: 10px 20px;
  background: rgba(0, 0, 0, .05);
  text-align: right;
  color: #484848;
}

.detail-header :first-child {
  float: left;
  text-align: left;
}
.detail-header :last-child {
  float: right;
  text-align: right;
}
.detail-header a,
.detail-header a:link,
.detail-header a:visited {
  color: #484848;
}
.provider-entry-inner {
  background-color: #fff;
  color: #333;
  padding: 15px;
  margin: 10px;
}

.item-inner h2,
.provider-entry-inner > h2 {
  height: 60px;
  font-size: 18pt;
  line-height: 20pt;
}
.item-inner h2 > img,
.provider-entry-inner > h2 > img {
  max-height: 60px;
  margin-right: 18px;
  vertical-align: text-bottom
}
.item-inner h2 > img {
  max-width: 220px;
}
.provider-entry-inner > h2 > img {
  max-width: 200px;
}

.provider-entry > a {
  text-decoration: none;
  cursor: default;
}
.provider-entry-inner:hover {
  cursor: pointer;
}

.provider-features {
  position: absolute;
  bottom: 25px;
}
.features > span,
.provider-features > span {
  text-align: center;
  font-size: 9pt;
  font-weight: normal;
  padding: 3px 7px;
  color: #ddd;
  border: 1px solid #ddd;
}
span.supported {
  color: #333;
  border: 1px solid #333;
}

#detail-pager {
  margin: 10px;
}

#detail-videos {
  border-top: 1px solid rgba(0, 0, 0, .2);
  margin-top: 20px;
  padding-top: 20px;
  margin-left: auto;
  max-width: 460px;
}

#detail-videos img {
  width: 30%;
  margin-left: 3%;
}

#detail-videos > div > :first-child > img {
  margin-left: 0;
}


@media only screen and (max-width:1024px) {
  #detail .col-2:first-child,
  #detail .col-2:last-child {
    width: auto;
  }
  .provider-primary-image {
    float: none;
    max-width: none;
  }
  #detail-videos {
    max-width: none;
  }
}


/* override sandstone css */
p {
  font-family: 'Open Sans Light','Droid Arabic Naskh','Mplus Fulah Light',sans-serif;
}

.lead {
  font-family: 'Open Sans Light','Droid Arabic Naskh','Mplus Fulah Light',sans-serif;
  font-size: 20px;
  font-weight: normal;
}

#colophon {
  margin-top: 120px;
  text-align: inherit;
}

#colophon li{
	margin:0;
	list-style-type:none
}

#colophon .links-social li ul{
	display:inline;
	margin:0
}

#colophon .links-social li li{
	display:inline
}

#colophon .links-social li li:before{
	content:"\00B7\00A0"
}

#colophon .links-social li li:first-child:before{
	content:""
}

#colophon .links-social li li span{
	position:absolute!important;
	height:1px;
	width:1px;
	margin:-1px;
	overflow:hidden;
	clip:rect(0 0 0 0);
	padding:0;
	border:0
}

.sky a.button {
  font-family: 'Open Sans Light','Droid Arabic Naskh','Mplus Fulah Light',sans-serif;
  color: white;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 8px;
  font-weight: normal;
  padding-left: 30px;
  padding-right: 30px;
}

.sky a.small {
  font-size: 1em;
  line-height: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}

.button, .button:link, .button:visited {
  text-align: left;
}

a.button > span {
  font-weight: normal;
  font-size: 1.5em;
  padding-left: 10px;
  text-align: left;
}

@media only screen and (max-width:760px) {
  #wrapper {
    width: auto;
  }
}


/* incompatibility banner borrowed from marketplace */
#incompatibility-banner {
  background: #4d4d4d;
  color: #c7c7c7;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#incompatibility-banner:after, #incompatibility-banner:before {
  content: "";
  display: block;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .85);
  height: 1px;
  position: relative;
  top: -1px;
  width: 100%
}

#incompatibility-banner:after {
  bottom: -1px;
  top: auto
}

#incompatibility-banner a {
  display: table-cell
}

#incompatibility-banner a.close {
  margin-top: -17px;
  top: 50%
}

#incompatibility-banner p {
  background: url('//mozorg.cdn.mozilla.net/media/img/styleguide/identity/firefox/usage-logo.png?2013-06') left/60px 64px no-repeat;
  margin: 0 auto;
  max-width: 500px;
  min-height: 45px;
  padding: 28px 60px 28px 110px;
  position: relative;
  text-align: left
}

@media (max-width:760px){
  #incompatibility-banner p {
    margin: 0 auto;
    padding: 20px 50px 20px 80px;
  }
}

.show-incompatibility-banner #incompatibility-banner {
  display: block
}

.show-incompatibility-banner main {
  padding-top: 48px
}

@media (max-width:709px){
  .show-incompatibility-banner main {
    padding-top: 0
  }
}

a.button > span.smaller {
  text-align: left;
  font-size: 10pt;
  line-height: normal;
  padding: 0;
}

.section {
  margin: 40px 0;
  padding-top: 20px;
}

.section > h4 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #C1C5C8;
}