{% extends "layout.html" %}
{% block content %}

  <div id="wrapper" class="content">
  <div id="detail">
    <div class="detail-header clearfix">
      <div>
      <a href=".">{{strings['home']}}</a>
      </div>
      <div>
      </div>
    </div>

    <div class="detail-content">

    <h3>Congratulations, You've just added new functionality to Firefox!</h3>
    <p class="lead">Services on this site help you to keep up with friends, see
    the stories people are talking about and more. Keep on reading to find out
    more about how these features work.</p>
    <p class="lead">These services support one or more of the following features.</p>

    
    <div class="section clearfix">
      <h4>Share content you like</h4>
      <img src="../images/share.png" alt="Share" style="float: right; max-width: 400px; margin-left: 20px;"/>
      <p class="lead">With the click of a button, you can Share interesting
      content on any website with the rest of the world, using the services you
      like.</p>
      <p class="lead"><img src="../images/sharebutton.png"
      alt="[share button image]"/> Just click on the share button and choose the service you want to use.</p>
    </div>

    <div class="section clearfix">
      <h4>Save content for later</h4>
      <img src="../images/bookmarking.png" alt="Share" style="float: right; max-width: 400px; margin-left: 20px;"/>
      <p class="lead">With the click of a button, you can save interesting
      content on any website to the cloud with services like Pocket and Delicious.</p>
    </div>

    <div class="section clearfix">
      <h4>Keep an eye on news, trending music and more</h4>
      <img src="../images/sidebar.png" alt="Sidebar" style="float: right; max-width: 400px; margin-left: 20px;"/>
      <p class="lead">With the click of a button, you can Share interesting
      content on any website with the rest of the world, using the services you
      like.</p>
      <p class="lead"><img src="../images/sharebutton.png"
      alt="[share button image]"/> Just click on the share button and choose the service you want to use.</p>
    </div>

    <div class="section clearfix">
      <h4>Managing your services</h4>

      
      <div class="clearfix">
      <p class="lead">All of the toolbar buttons are customizable (some only in
      upcomming versions of Firefox) using the new <a href="http://www.mozilla.org/en-US/firefox/desktop/customize/">Customizability of Firefox</a>.
      Add, move or remove buttons to make Firefox exactly the way you want
      it.</p>
      </div>

      <div class="section clearfix">
      <img src="../images/sidebarselect.png"
      alt="[share button image]" style="float: right; max-width: 400px;
      margin-left: 20px;"/>
      <p class="lead">You can easily change the service in your sidebar, or
      hide the sidebar, from the sidebar itself. You can also use the
      <strong>View->Toolbars menu</strong> in Firefox.</p>
      </div>
      
      <div class="section clearfix">
      <img src="../images/sidebarbutton.png"
      alt="[share button image]" style="float: right; max-width: 400px;
      margin-left: 20px;"/>
      <p class="lead">Starting with Firefox 30, You can also manage your
      sidebars using the sidebar toolbarbutton. You can find the sidebar toolbar
      button in the
      <a href="http://www.mozilla.org/en-US/firefox/desktop/customize/">customization palette</a>.</p>
      </div>

      <div class="section clearfix">
      <img src="../images/addonsmanager.png" alt="Add-ons Manager" style="float: right; max-width: 400px; margin-left: 20px;"/>
      <p class="lead">You can easily manage your services, disabling them temporarily or removing them, by viewing the Add-ons Manager in Firefox.</p>
      </div>
    </div>


    </div>

  </div>
  </div>
{% endblock %}
