{% extends "layout.html" %}
{% block content %}


  <div id="wrapper" class="content">
  <div id="detail">
    <div class="detail-header clearfix">
      <div>
      <a href=".">{{ _('Home') }}</a>
      </div>
      <div>
      </div>
    </div>

    <div class="detail-content">

{% for p in source %}
{% if not production or p['status'] == 'release' %}
  <li><a href="/{{basehref}}activated/{{p['key']}}.html">{{p['lang']['default']['name']}}</a></li>
{% endif %}
{% endfor %}


    </div>

  </div>
  </div>
{% endblock %}
