{% extends "layout.html" %}
{% block content %}

  <div id="wrapper" class="content">
  <div id="detail">
    <div class="detail-header clearfix">
      <div>
      <a href=".">{{ _('Home') }}</a>
      </div>
      <div>
      </div>
    </div>

    <div class="detail-content">
    {% if 'detaillogo' in lang['default']['images'] %}
    <h1><img src="{{lang['default']['images']['detaillogo']}}"></img></h1>
    {% elif 'fulllogo' in lang['default']['images'] %}
    <h1><img src="{{lang['default']['images']['fulllogo']}}"></img></h1>
    {% else %}
    <h1><img src="{{lang['default']['images']['logo']}}"></img> {{lang['default']['name']}}</h1>
    {% endif %}
    <h3>{{ _('Congratulations, <strong>%(name)s</strong> is now activated in Firefox!', name=manifest['name']) }}</h3>
    <a id="documentation"></a>
    <ol>
      <div class="section clearfix">
      <h4><li>{{ _('Get the most from %(name)s', name=manifest['name']) }}</li></h4>
      <p class="lead"><img src="../images/bookmarked.png"
      alt="[bookmark button image]" style="vertical-align: text-bottom"/> {{ _('Bookmark this page') }}</p>
      <p class="lead">{{ _('If you\'re new to this service, bookmark this page, it contains useful information and links to further help using and customizing Firefox.  Keep reading to learn more about how %(name)s works in Firefox.', name=manifest['name']) }}</p>
      </div>
{% if manifest['sidebarURL'] %}
      <div class="section clearfix">
      <h4><li>{{ _('Add the Sidebars button to your toolbar') }}</li></h4>
      <div style="width:40%; float: right; margin-left: 20px;">
      <img src="{{lang['default']['images']['sidebarbutton'] or "../images/sidebarbutton.png"}}"
      alt="[sidebar button image]" style="float: right;"/>
      </div>
      <p class="lead">{% trans url="https://support.mozilla.org/kb/use-firefox-sidebar-access-bookmarks-history-and-s" %}Starting with Firefox 30, you can manage your sidebars using the Sidebars toolbar button. The Sidebars button is located in the <a href="%(url)s">customization palette</a>, just drag the button to your toolbar for fast switching between sidebars.{% endtrans %}</p>
      </div>

      <div class="section clearfix">
      <div style="width:40%; float: right; margin-left: 20px;">
      <img src="{{lang['default']['images']['sidebarmenu'] or "../images/sidebarselect.png"}}"
      alt="[sidebar selection image]" style="float: right;"/>
      </div>
      <p class="lead">{% trans %}Additionally, you can easily change the service in your sidebar, or hide the sidebar, from the sidebar itself. You can also use the <strong>View->Toolbars</strong> menu in Firefox.{% endtrans %}</p>
      </div>
{% endif %}
{% if manifest['shareURL'] %}
    <div class="section clearfix">
      <h4><li>{{ _('Share content you like through %(name)s', name=manifest['name']) }}</li></h4>
      <div style="width:50%; float: right; margin-left: 20px;">
      <img src="{{lang['default']['images']['share'] or "../images/share.png"}}" alt="Share" style="float: right; max-width: 400px; margin-left: 20px;"/>
      </div>
      <p class="lead"><img src="../images/sharebutton.png"
      alt="[share button image]"/> {{ _('With the click of a button, you can Share interesting content on any website with your social network through <strong>%(name)s</strong>.', name=manifest['name']) }}</p>
    </div>
{% endif %}
{% if manifest['markURL'] %}
    <div class="section clearfix">
      <h4><li>{{ _('Save content for later') }}</li></h4>
      <img src="{{lang['default']['images']['bookmark'] or "../images/bookmark.png"}}" alt="Bookmarking" style="float: right; max-width: 400px; margin-left: 20px;"/>
      <p class="lead"> {{ _('With the click of a button, you can save interesting content on any website to <strong>%(name)s</strong>.', name=manifest['name']) }}</p>
    </div>
{% endif %}
{% if manifest['statusURL'] %}
    <div class="section clearfix">
      <h4><li>{{ _('Keep an eye on the latest from %(name)s', name=manifest['name']) }}</li></h4>
      <img src="{{lang['default']['images']['status'] or "../images/status.png"}}" alt="Sidebar" style="float: right; max-width: 400px; margin-left: 20px;"/>
      <p class="lead">{{ _('<strong>%(name)s</strong> will provide you with the latest from their service, just click on their icon in the toolbar.', name=manifest['name']) }}</p>
    </div>
{% endif %}

    <div class="section clearfix">

      <div class="section clearfix">
      <h4><li>{{ _('Change Settings from the Add-on Manager') }}</li></h4>
      <div style="width:50%; float: right; margin-left: 20px;">
      <img src="../images/addonsmanager.jpg" alt="Add-ons Manager" style="float: right;"/>
      </div>
      <p class="lead">{{ _('You can easily <a href="%(url)s">manage your services</a>, disabling them temporarily or removing them, by viewing the Add-ons Manager in Firefox.', url='https://support.mozilla.org/kb/disable-or-remove-add-ons') }}</p>
      </div>
    </div>

    <div class="section clearfix">
    <h4><li>{{ _('Next Steps') }}</li></h4>
    <ul>
      <li>{{ _('<a href="%(url)s">Learn more about what this service adds to Firefox</a>.', url='https://support.mozilla.org/kb/add-social-features-firefox-sidebar') }}</li>
{% if manifest['homepageURL'] %}
      <li>{{ _('<a href="%(url)s">Learn more</a> about what <a href="%(url)s">%(name)s</a> provides.', name=manifest['name'], url=manifest['homepageURL']) }}</li>
{% endif %}
      <li>{{ _('<a href=".">Explore and find more services</a> you can add to Firefox.') }}</li>
    </ul>
    </div>
    </div>
    </ol>

  </div>
  </div>
{% endblock %}
