<div class="provider-entry col-2 clearfix">
  <div class="provider-entry-inner clearfix" onclick="location='{{p['key']}}.html'">
          <div class="activation" style="float: right; z-index: 10000; padding-top: 10px; margin-left: 10px;">
          <a class="button gutter-bottom-24 small" onclick="activateProvider(this, '{{p['key']}}');event.stopPropagation();" data-service="{{p['manifestData']}}">{{ _('Activate Now') }} <span>&raquo;</span></a>
          <br/><a href="{{p['key']}}.html" class="moreinfo">{{ _('Learn More&hellip;') }}</a>
          </div>
    {% if p['viewData']['images']['fulllogo'] %}
    <h2><img src="{{createDataURL(p['viewData']['images']['fulllogo'])}}"></img></h2>
    {% else %}
    <h2><img src="{{createDataURL(p['viewData']['images']['logo'])}}"></img> {{p['viewData']['name']}}</h2>
    {% endif %}

  </div>
</div>
