{% extends "layout.html" %}
{% block content %}
  <div id="carousel-promotions" class="carousel">
    <div class="carousel-wrapper">
    <div id="carousel-promo" class="cycle-slideshow carousel-inner"
      data-cycle-center-horz=true
      data-cycle-center-vert=true
      data-cycle-pager=".cycle-pager"
      data-cycle-fx="scrollHorz"
      data-cycle-timeout="5000"
      data-cycle-slides="&gt; div">
      <span class="cycle-prev">&lsaquo;</span>
      <span class="cycle-next">&rsaquo;</span>
      {% if carousel %}
      {% for p in slider %}
      <div class="item">
        <div class="item-inner">
          <div>
          {% if p['lang']['default']['images']['fulllogo'] %}
          <h2><img src="{{p['lang']['default']['images']['fulllogo']}}"></img></h2>
          {% else %}
          <h2><img src="{{p['lang']['default']['images']['logo']}}"></img> {{p['lang']['default']['name']}}</h2>
          {% endif %}
          <h3 class="tagline">{{p['lang']['default']['tagline']}}</h3>
          <p class="description">{{p['lang']['default']['shortDescription']}}</p>
          </div>
          <div class="activation">
          <a class="button gutter-bottom-24" onclick="activateProvider(this, '{{p['key']}}')" data-service="{{p['manifest']}}">Activate now <span>&raquo;</span></a>
          <br/><a href="{{p['key']}}.html" class="moreinfo">find out more...</a>
          </div>
          <div>
          <img src="{{p['lang']['default']['images']['carousel']}}" style="float:right;"></img>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="cycle-pager center"></div>
    </div>
  </div>

  <div id="wrapper" class="content">
    <div id="directory">
      <div class="directory-header">
      <h3>Embrace the Web, Extend your Browser</h3>
      <p class="lead">Enhance your Firefox with new features, built entirely using web
      technologies.  Anything from social media services, to cloud bookmarking,
      music and personalized news services can enhance your browsing experience.
      No software or Add-ons to download and install, just Activate and new
      functionality is delivered to you from the Web.</p>
{% if not production %}
      <p class="lead"><b>You are on a test version of this website.</b>  This
      site includes both live services and design mockups that we have created.
      These are useful as examples and UI testing. Several of these will not work
      in several ways. In most cases they are not provided by the website linked
      to.  Some of the demos use the mobile websites, you may need to install a <a
      href="https://addons.mozilla.org/en-US/firefox/addon/wmlbrowser/">WML
      extension for Firefox.</a> You should also read the
      <a href="#" data-featherlight="#aboutModel">instructions to use this
      site.</a></p>
{% endif %}
      </div>
      <div id="directory-grid" class="row">
      {% for p in source.itervalues() %}
      <div class="provider-entry col-2 clearfix">
        <a href="{{p['key']}}.html">
        <div class="provider-entry-inner clearfix">
          {% if p['lang']['default']['images']['fulllogo'] %}
          <h2><img src="{{p['lang']['default']['images']['fulllogo']}}"></img></h2>
          {% else %}
          <h2><img src="{{p['lang']['default']['images']['logo']}}"></img> {{p['lang']['default']['name']}}</h2>
          {% endif %}
          <p class="provider-description">{{p['lang']['default']['shortDescription']}}</p>
        </div>
        </a>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
