{% extends "layout.html" %}
{% block head %}
  <script>
    var releases = {{releases}};
    var minver = {{minver or 29}};
    $(document).ready(function($) {
      // check the minver of this provider against firefox
      // requires firefox 29 to activate
      var uMatch = navigator.userAgent.match(/Firefox\/(.*)$/),
        ffVersion = 1; // we're only doing minver compare
      if (uMatch && uMatch.length > 1) {
        ffVersion = parseInt(uMatch[1]);
      }
      if (ffVersion < minver) {
        if (minver > releases[0]) {
          $("#beta-required").removeAttr("hidden");
          $("#incompatibility-banner").removeAttr("hidden");
        }
        $(".button").removeAttr("onclick");
        switch (releases.indexOf(minver)) {
          case 1:
            $(".button").html("{{ _("Install Firefox Beta") }} <span>&raquo;</span><br/><span class=\"smaller\">{{ _("requires Firefox") }} {{minver}}</span>");
            $(".button").attr("href", "https://www.mozilla.org/firefox/beta/");
            break;
          case 2:
            $(".button").html("{{ _("Install Firefox Aurora") }} <span>&raquo;</span><br/><span class=\"smaller\">{{ _("requires Firefox") }} {{minver}}</span>");
            $(".button").attr("href", "https://www.mozilla.org/firefox/aurora/");
            break;
          case 3:
            $(".button").html("{{ _("Install Firefox Nightly") }} <span>&raquo;</span><br/><span class=\"smaller\">{{ _("requires Firefox") }} {{minver}}</span>");
            $(".button").attr("href", "https://www.mozilla.org/firefox/nightly/");
            break;
          default:
            $(".button").html("{{ _("Upgrade Firefox") }} <span>&raquo;</span><br/><span class=\"smaller\">{{ _("requires Firefox") }} {{minver}}</span>");
            $(".button").attr("href", "https://www.mozilla.org/firefox/new/");
            break;
        }
      }
    });
  </script>
{% endblock %}
{% block content %}

  <div id="wrapper" class="content">
    <div id="detail">
      <div class="detail-header clearfix">
        <div>
        <a href=".">{{ _('Home') }}</a>
        </div>
        <div>
        <span>{{lang['default']['name']}}</span>
        </div>
      </div>
      <div class="detail-content">
{% if status == "beta" %}
        <p id="beta-service" style="font-weight: bold; font-style: italic; color: black">{{ _("This service is in beta testing, some functionality may not work as expected..") }}</p>
{% endif %}
{% if status == "demo" %}
        <p id="demo-service" style="font-weight: bold; font-style: italic; color: red">{{ _("This service is for demonstration purposes only and may not work as expected.") }}</p>
{% endif %}

        <div class="row">
          <div class="col-2">
            <div class="provider-item-detail">
{% if 'detaillogo' in lang['default']['images'] %}
            <h1><img src="{{lang['default']['images']['detaillogo']}}"></img></h1>
{% elif 'fulllogo' in lang['default']['images'] %}
            <h1><img src="{{lang['default']['images']['fulllogo']}}"></img></h1>
{% else %}
            <h1><img src="{{lang['default']['images']['logo']}}"></img> {{lang['default']['name']}}</h1>
{% endif %}
              <h3 class="tagline">{{lang['default']['tagline']}}</h3>
              <p class="lead">{{lang['default']['shortDescription']}}</p>
              <a class="button gutter-bottom-12" onclick="activateProvider(this, '{{key}}')" data-service="{{manifestData}}">{{ _('Activate Now') }} <span>&raquo;</span></a>
              <div class="provider-description">{{lang['default']['description']|safe}}</div>
{% if 'links' in lang['default'] %}
              <a href="{{lang['default']['links']['learnmore']}}" class="moreinfo" target="_blank">{{ _('Learn More...') }}</a>
{% endif %}
            </div>
  
          </div>
          <div class="col-2 clearfix">
            {% if 'detail' in lang['default']['images'] %}<div class="clearfix"><img src="{{lang['default']['images']['detail']}}" class="provider-primary-image" /></div>{% else %}
            <div id="carousel-details">
              <div class="cycle-slideshow carousel-inner"
                  data-cycle-loader="true"
                  data-cycle-center-horz="true"
                  data-cycle-center-vert="true"
                  data-cycle-pager="#detail-pager">
                {% for image in lang['default']['images']['details'] %}<img src="{{image}}"/>{% endfor %}
              </div>
              <div id="detail-pager" class="cycle-pager center external"></div>
            </div>
{% endif %}
{% if 'videos' in lang['default'] %}
            <div id="detail-videos" class="center"><div>
              {% for video in lang['default']['videos']['youtube'] %}<a href="http://www.youtube.com/watch?v={{video}}" target="_blank"><img src="//i1.ytimg.com/vi/{{video}}/mqdefault.jpg"/></a>{% endfor %}
            </div></div>
{% endif %}
          </div>
  
        </div>

{% if manifest %}
        <div class="features col-2 clearfix">
          <span {% if manifest['shareURL'] %}class="supported"{% endif %} title="{{ _('This service supports sharing content') }}">{{ _('share') }}</span> 
          <span {% if manifest['markURL'] %}class="supported"{% endif %} title="{{ _('This service provides bookmarking functionality') }}">{{ _('bookmarking') }}</span> 
          <span {% if manifest['sidebarURL'] %}class="supported"{% endif %} title="{{ _('This service adds a sidebar to Firefox') }}">{{ _('sidebar') }}</span> 
          <span {% if manifest['statusURL'] %}class="supported"{% endif %} title="{{ _('This service adds a toolbar button to Firefox that may have notifications') }}">{{ _('notifications') }}</span>
{% if status == "demo" %}
          <span class="supported" title="{{ _('This is a demo service') }}">{{ _('demo') }}</span>
{% elif minver and minver > releases[0] or status == "beta" %}
          <span class="supported" title="{{ _('This service requires an unreleased version of Firefox') }}">{{ _('beta') }}</span>
{% endif %}
        </div>
{% endif %}
      </div>
    </div>
  </div>
{% endblock %}
